<html>
  <head>
    <title>{{table_name}}</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th {
        background-color: #333;
        color: white;
      }

      th,
      td {
        padding: 10px 20px;
        text-align: left;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }
    </style>
  </head>
  <body>
    <h1>insert data</h1>
    <form action="/insert_row/{{ table_name }}" method="post">
      {% for row in column_names %}
      <label for="{{row}}">{{ row }}:</label>
      <input type="text" id="{{row}}" name="{{row}}" required /> <br />
      {% endfor %}
      <input type="submit" value="Submit" />
    </form>
    <h1>update data</h1>
    <form action="/update_row/{{ table_name }}" method="post">
      {% for row in column_names %}
      <label for="{{row}}">{{ row }}:</label>
      <input type="text" id="{{row}}" name="{{row}}" required /> <br />
      {% endfor %}
      <input type="submit" value="Submit" />
    </form>
    <h1>delete data</h1>
    <form action="/delete_row/{{ table_name }}" method="post">
      <label for="{{ column_names[0] }}">{{ column_names[0] }}:</label>
      <input
        type="text"
        id="{{ column_names[0] }}"
        name="{{ column_names[0] }}"
        required
      />
      <br />
      <input type="submit" value="Submit" />
    </form>
    <!-- JavaScript to call the API -->
    <h1>{{table_name}} data</h1>
    <table>
      <tr>
        {% for name in column_names %}
        <th>{{ name }}</th>
        {% endfor %}
      </tr>
      {% for row in rows %}
      <tr>
        {% for element in row %} {% if column_names[loop.index0] is in
        foreign_keys %}
        <td>
          <a
            href="/get_row_data/{{foreign_tables[foreign_keys.index(column_names[loop.index0])]}}/{{column_names[loop.index0]}}/{{element}}"
            >{{ element }}</a
          >
        </td>
        {% else %}
        <td>{{ element }}</td>
        {% endif %} {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
